.vscode
.gitignore
node_modules
grammar/
examples/
test/
docs/
src/
out/
tsconfig.json
webpack.config.js

syntaxes/README.md
syntaxes/ebnf.tmLanguage.yaml

CHANGELOG.md
CONTRIBUTING.md
ISSUE_TEMPLATE.md

!dist/**/*.js.map