.vscode
.gitignore
.github
node_modules
grammar/
examples/
tests/
docs/
src/
out/
tsconfig.json
webpack.config.js
jest.config.js

syntaxes/README.md
syntaxes/ebnf.tmLanguage.yaml

CHANGELOG.md
CONTRIBUTING.md
ISSUE_TEMPLATE.md

!dist/**/*.js.map
